<div class="bg-white container pt-5">
    <h1 class="pb-2">{{item.country}}</h1>
    <h4>
        Capital: {{item.capital}}
    </h4>
    <h4>
        Language: {{item.language}}
    </h4>
    <h4>
        {{item.country}}&nbsp;is known for:
    </h4>
    <div class="row">
        <div *ngFor="let i of item.knownFor" class="col-sm-4 lead mb-2">
            {{i}}
        </div>
    </div>
    <div class="row">
        <div *ngFor="let i of [1,2,3]" class="col-sm-4">
           <img class="img-fluid img-thumbnail clickable" src="../../../assets/placeholder.png" alt="">
        </div>
    </div>
</div>